@import "../variables.scss";

$some: hsla(251, 85%, 8%, 0.768);

.app__header {
    // margin-top: 5px;
    height: 60px;
    margin-bottom: 20px;
    border-bottom: inset 1px hsl(243, 38%, 20%);
    // border-top: inset 1px hsl(243, 42%, 30%);
    background: linear-gradient(hsla(0, 0%, 0%, 0.151), hsla(0, 0%, 0%, 0.404));
    backdrop-filter: blur(4px);
    box-shadow: 0 -5px 45px 0px #15132a inset, 0 3px 7px hsla(0, 0%, 0%, 0.719);

}

.header__content {
    // max-width: 1200px;
    position: relative;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    cursor: pointer;
    // TODO popracować nad logo
}

.menu__toggler {
    background: transparent;
    border: none;
    outline: none;
    color: $basic-font-color;
    font-size: 1.3rem;
    position: fixed;
    left: 20px;
}


@media only screen and (min-width: 600px) {

    .menu__toggler {
        display: none;
    }

    .header__content {
        justify-content: space-evenly
    }


}

// @media only screen and (min-width: 1200px) {
//     .header__content {
//         justify-content: center
//     }

//     .logo {
//         position: absolute;
//         left: 0;
//     }
// }