@import "../variables.scss";

.app__header {
    height: 60px;
    background: linear-gradient(rgba(2, 2, 2, 0.362), rgba(0, 2, 2, 0.262));
    box-shadow: 0 0px 15px -4px black inset;
}

.header__content {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    cursor: pointer;
    // font-family: 'Ubuntu Condensed';
    // text-shadow: 1px 1px 10px rgba(26, 26, 26, 0.644);
    // font-size: 1.6rem;
    // background: hsla(217, 100%, 50%, 1);
    // background: linear-gradient(-180deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    // background-size: 100%;
    // background-repeat: repeat;
    // -webkit-background-clip: text;
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    // -moz-background-clip: text;
    // -moz-text-fill-color: transparent;
    // TODO popracować nad logo
}

.menu__toggler {
    background: transparent;
    border: none;
    outline: none;
    color: $basic-font-color;
    font-size: 1.3rem;
    position: fixed;
    left: 20px;
}


@media only screen and (min-width: 600px) {

    .menu__toggler {
        display: none;
    }

    .header__content {
        justify-content: space-evenly
    }


}

@media only screen and (min-width: 1200px) {
    .header__content {
        justify-content: center
    }

    .logo {
        position: absolute;
        left: 0;
    }
}