[class*="heading"] {
    display: flex;
    align-items: center;
    font-family: 'Oswald', 'Rubik', sans-serif;

    >i {
        margin-right: 5px;
    }
}

.section__heading {
    margin: 0 auto;
    max-width: 1200px;
}